out
dist
node_modules
.vscode-test/
*.vsix
server/VSExtensionForVB.LanguageServer/bin/
server/VSExtensionForVB.LanguageServer/obj/
server/VSExtensionForVB.LanguageServer/publish/
test-workspace/**/bin/
test-workspace/**/obj/
