.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
server/VSExtensionForVB.LanguageServer/**
!server/VSExtensionForVB.LanguageServer/publish
!server/VSExtensionForVB.LanguageServer/publish/**
test-workspace/**
