.vscode/**
.vscode-test/**
.github/**
out/**
*.vsix
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
server/VBNetCompanion.LanguageServer/**
!server/VBNetCompanion.LanguageServer/publish
!server/VBNetCompanion.LanguageServer/publish/**
test-workspace/**
